body {
   
    background-image: url('images/op-background.jpg');
    

    background-attachment: fixed;
    

    background-size: cover; 
    

    background-position: center;

    background-repeat: no-repeat;
    
    /* Set a default font for the whole page */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    /* Removes default browser margins */
    margin: 0;
    padding: 0;
}

body {

    /*background:papayaWhip*/
    background: LightSteelBlue;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    margin-left:5em;
    margin-right:5em;
    margin-top:3em;
    margin-bottom:3em;
}
h1 {
    font-size: 5ex;
    text-align: center

}

.main-content {
   
    width: 1050px; 
    
    /* This centers the block on the page */
    margin: 40px auto;
    
    /* This is the white background */
    background-color: #ffffff;
    
    /* Adds spacing inside the white box */
    padding: 30px;
    
    /* Adds a slight shadow */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
    /* Rounds the corners */
    border-radius: 8px;
}

/* For mobile phones */
@media (max-width: 768px) {
    .main-content {
        width: 90%; 
    }
}

ul {
    list-style: none;
}
nav {
    font-size: 3ex;
}
img {
    width: 59%;
    max-width: 500px;
}

figcaption {
    font-size: smaller;
    font-style: italic;
}
div.side-by-side {
    display: flex;
    margin: 1em auto
}

.flex-item {
    padding: 10px;
    border: 1px solid black;
}

.container {
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

figure {
    background-color: grey;
    margin: 40px auto;
    padding: 20px;
    width: 45%;
    
    
}

.back {
    background-image:url(img)
}
.box {
  border: 5px solid black;
}

.align {
    text-align: center
}

figure.lock {
    flex: 1;
    background-color: #FFBF00;
}

.featureBlock {
    background-color: #FF7F50;

}